# Eclipse IDE files
**/.classpath
**/.project
**/.settings/
# src/main/resources/
# intellij IDE files
**/*.iml
**/.idea/
**/*.log
**/*.ipr
**/*.iws
# Apple OS X related
**/.DS_Store
derby-tsfile-db
/iotdb-tools-thrift/target/
/iotdb-tools-thrift/.mvn/wrapper/maven-wrapper.jar
